.no-elevation{
    box-shadow: none;
}

/* Toolbar */
.logo-mini{
    opacity: 1;
    margin: 16px;
    transform: scale(1);
    max-height: calc(32px);
}
.logo-mini.hidden{
    opacity: 0;
    transform: scale(0.75);
}

/* Ion */
.logo{
    opacity: 1;
    max-width: 50%;
    margin: 48px 24px 24px 24px;
    transform: rotate(0deg) scale(1);
}
.logo.animated{
    opacity: 0;
    transform: rotate(1800deg) scale(0.75);
}

@media (max-width: 960px){
    .logo{
        margin: 0px;
    }
}

/* Features */
#features .icon{
    font-size: 64px;
}
#features .col-4 img{
    width: 100%;
}

@media (min-width: 961px){
    #features{
        padding: 64px 0px 64px 0px;
    }
}

/* Docs */
#docs .graphic{
    text-align: right;
}
#docs .graphic img{
    width: 50%;
    text-align: right;
}

/* Documentation */
.documentation .box > section#intro ~ section, .personalization .box > section#personalization ~ section, .components .box > section#components ~ section{
    padding-top: 80px;
}
.documentation pre{
    margin-top: 32px;
    margin-bottom: 32px;
}
.demo-fab .button.fab{
    z-index: unset;
}
.demo-grid [class*="col"]{
    background-clip: content-box;
}

/* Personalization */
#icons .icon{
    font-size: 32px;
}
#icons .col-1{
    margin-top: 16px;
}
#color ul, #color ul li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#color ul li{
    padding: 16px;
}
#color ul li .body-1{
    margin: 0px;
}
#color ul li .hex{
    float: right;
}