.no-elevation{
    box-shadow: none;
}
pre[class*="language-"]{
    margin-top: 32px;
    margin-bottom: 32px;
}

/* Toolbar */
.logo-mini{
    opacity: 1;
    margin: 16px;
    max-height: 32px;
    transform: scale(1);
}
.logo-mini.hidden{
    opacity: 0;
    transform: scale(0.75);
}

@media (min-width: 1367px){
    .navbar:not(.open) ~ .toolbar .logo-mini{
        margin-left: 232px;
    }
}

/* Ion */
.logo{
    opacity: 1;
    max-width: 50%;
    margin: 48px 24px 24px 24px;
    transform: rotate(0deg) scale(1);
}
.logo.animated{
    opacity: 0;
    transform: rotate(1800deg) scale(0.75);
}
#ion .intro{
    padding: 0 16px;
}
#ion figure{
    margin: 16px;
}
.github{
    color: #FFFFFF;
}
.github svg{
    width: 32px;
    height: 32px;
    fill: currentColor;
}
#ion .nav{
    padding: 16px;
}
#ion video{
    padding: 12.5% 0 12.5% 0;
}

@media (max-width: 960px){
    .logo{
        margin: 0px;
    }
    .github{
        display: block !important;
    }
}

/* Features */
#features .icon{
    font-size: 64px;
}
#features .col-4 img{
    width: 100%;
}

@media (max-width: 960px){
    #features .icon{
        font-size: 96px;
    }
}

@media (min-width: 961px){
    #features{
        padding: 64px 0px 64px 0px;
    }
}

/* Docs */
#docs .graphic{
    text-align: right;
}
#docs .graphic img{
    width: 50%;
    text-align: right;
}

/* Documentation */
.documentation .list li{
    margin-bottom: 16px;
}

/* Components */
.components pre{
    margin-top: 32px;
    margin-bottom: 32px;
}
.demo-fab .button.fab{
    z-index: unset;
}
.demo-grid [class*="col"]{
    background-clip: content-box;
}

/* Personalization */
.personalization .box > section#personalization ~ section, .components .box > section#components ~ section, .javascript .box > section#javascript ~ section{
    padding-top: 80px;
}
#icons .icon{
    font-size: 32px;
}
#icons .col-1{
    margin-top: 16px;
}
#color .col-4{
    margin-top: 32px;
}
#color ul, #color ul li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#color ul li{
    padding: 16px;
}
#color ul li .body-1{
    margin: 0px;
}
#color ul li .hex{
    float: right;
}