.no-elevation{
    box-shadow: none;
}

/* Toolbar */
.toolbar .icon{
    color: #FFFFFF;
}
.logo-mini{
    opacity: 1;
    margin: 16px;
    transform: scale(1);
    max-height: calc(32px);
}
.logo-mini.hidden{
    opacity: 0;
    transform: scale(0.75);
}

/* Ion */
.logo{
    opacity: 1;
    max-width: 50%;
    margin: 48px 24px 24px 24px;
    transform: rotate(0deg) scale(1);
}
.logo.animated{
    opacity: 0;
    transform: rotate(1800deg) scale(0.75);
}

@media (max-width: 960px){
    .logo{
        margin: 0px;
    }
}

/* Anim */

.anim-wrapper, .anim-element{
    width: 100%;
    height: 100%;
}
.anim{
    position: relative;
}
.anim-wrapper{
    top: 0px;
    left: 0px;
    position: absolute;
    clip: rect(0, auto, auto, 0);
}
.anim-element{
    top: 50%;
    width: 100%;
    height: 100%;
    position: fixed;
    transform: translateY(-100%);
}

/* Features */
#features .icon{
    font-size: 64px;
}

@media (min-width: 961px){
    #features{
        padding: 64px 0px 64px 0px;
    }
}

/* Docs */
#docs .graphic{
    text-align: right;
}
#docs .graphic img{
    width: 50%;
    text-align: right;
}